/*************** GENERAL ****************/

* {
  padding: 0;
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
}

h1,
h2 {
  font-size: 2.1em;
}
h3 {
  font-size: 1.6em;
}
p,
.menu__sub {
  font-size: 1.4em;
}

.--blue {
  color: #0065fc;
}

.--black {
  color: #111;
}

.stars {
  height: 10px;
  width: auto;
}
.heberge a,
.act a {
  text-decoration: none;
  color: #111;
}
/**************** HEADER ****************/

.menu {
  height: 13em;
  max-width: 1640px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.menu__container__logo {
  margin-left: 5rem;
}

#logo {
  height: 38px;
  width: auto;
}

.menu__nav {
  order: 1;
  width: 100%;
}

.menu__list {
  list-style: none;
  width: 100%;
  display: flex;
}

.menu__item {
  width: 100%;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  padding-bottom: 0.7em;
}

.menu__item--blue {
  border-bottom: solid #0064fa;
}

.menu__item--gray {
  border-bottom: solid #f2f2f2;
}

.menu__lien {
  text-decoration: none;
  font-size: 1em;
}

.menu__container__sub {
  margin-right: 8%;
  margin-left: auto;
}

.menu__sub {
  text-decoration: none;
  outline: none;
  color: #0065fc;
  font-weight: 700;
}

@media (min-width: 768px) {
  .menu {
    height: 10.5em;
  }

  .menu__container__logo {
    margin-left: 3%;
  }

  .menu__nav {
    order: 0;
    margin: 0;
    max-width: 35em;
  }

  .menu__item {
    max-width: 24em;
    border-bottom: none;
    padding: 3.8em 1.2em;
    outline: none;
  }

  .menu__item--blue {
    border-top: solid #0064fa;
    outline: none;
    color: #0064fa;
  }

  .menu__item--gray {
    border-top: solid rgba(0, 0, 0, 0);
  }

  .menu__lien {
    text-decoration: none;
    font-size: 1em;
  }

  .menu__container__sub {
    margin-right: 5%;
    margin-left: 2%;
  }
}

/* SEARCH SECTION */

.search {
  padding-bottom: 4em;
  margin: 2em 3% 0 3%;
}
.search__subtitle {
  padding-top: 0.5em;
}

/* SEARCH SECTION: SEARCH BAR */

.search__bar {
  height: 50px;
  min-width: 335px;
  max-width: 350px;
  padding-top: 2em;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.form__icon {
  height: 50px;
  width: 40px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.icon {
  height: 1.5em;
  width: 1.2em;
}

.search__form {
  height: 50px;
  width: auto;
  min-width: 200px;
  background-color: #fff;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.search__area {
  height: 50px;
  width: 239px;
  background-color: #fff;
  border-color: #f2f2f2;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  border-right: none;
}
.search__area::placeholder {
  height: 50px;
  width: 239px;
  color: #111;
  background-color: #fff;
  font-weight: 700;
  font-size: 1.5em;
  opacity: 1;
}

.search__btn {
  display: none;
  color: #fff;
  background-color: #0065fc;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 50px;
  width: 130px;
  font-weight: 600;
  font-size: 1.5em;
  cursor: pointer;
}

.form__icon2 {
  height: 50px;
  width: 50px;
  background-color: #0065fc;
  border-radius: 1.5em;
  cursor: pointer;
  margin: 0 0 0 -10px;
  background-image: url(images/Icones/search.svg);
  background-size: 1.8em;
  background-repeat: no-repeat;
  background-position: center;
}

.icon3 {
  height: 1.5em;
  width: 1.5em;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .form__icon2 {
    display: none;
  }
  .search__btn {
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .search {
    padding-right: 4%;
  }
  .search__title,
  .search__filter__title,
  .search__bar {
    padding-left: 4%;
  }
  .search__info {
    padding-left: 1em;
    font-size: 0.9em;
  }
  .search__subtitle {
    padding-left: 4%;
    font-size: 1.4em;
  }
  .search__form,
  .form__icon {
    margin: 0;
  }
}

/* SEARCH SECTION: FILTERS */

.search__filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10px;
  padding-left: 10px;
}
.search__filter__title {
  font-weight: 600;
  padding-right: 10px;
  margin: 0;
}
.search__filter__list {
  margin: 0;
}
.search__filter__option {
  display: inline-flex;
  align-items: center;
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 30px;
  border-width: 2px;
  padding-right: 20px;
  margin: 10px;
  margin-left: 2em;
  height: 48px;
  font-weight: 700;
  font-size: 1.5em;
  cursor: pointer;
}
.search__filter__option:hover {
  border-color: #0065fc;
  background-color: #0065fc;
  color: #fff;
}
.search__filter__icon {
  background-color: #deebff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 18px;
  margin: 0 10px 0 -10px;
}
@media (max-width: 768px) {
  .search__filter__container {
    margin: 0;
  }
  .search__filter__title {
    margin-right: 100%;
    padding: 1.5em 0 1em 0;
  }
  .search__filter__option {
    margin-left: 2px;
    font-size: 1.4em;
  }
}

/* SEARCH SECTION: AVAILABILITY NUMBER */

.search__info {
  display: flex;
  align-items: center;
  margin: 0;
}
.search__info__text {
  padding-left: 10px;
  font-weight: 600;
  margin: 0;
}
.search__icon__info {
  width: 0.7em;
  height: 0.7em;
  border-style: solid;
  border-color: #f2f2f2;
  border-radius: 50%;
  border-width: 1px;
  padding: 6.5px;
  background-image: url(images/Icones/info-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.3em;
  margin: 0;
}

/* RESULT SECTION : HEBERGEMENT ET POPULAIRE */

.heberge {
  width: auto;
  margin: 0 2%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .heberge {
    display: flex;
    flex-flow: column-reverse wrap;
    margin: 0;
  }
}

/* RESULT SECTION: HEBERGEMENTS */

.heberge__result {
  width: 64%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  background-color: #f2f2f2;
  border-radius: 20px;
  position: relative;
}
.heberge__title {
  top: 2em;
  left: 6%;
  position: absolute;
}
.heberge__container {
  margin: auto 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  padding: 6em 0;
}
.heberge__card {
  height: 20em;
  width: 24em;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  margin: 1em 0;
}
.heberge__card__pic {
  height: 11.4em;
  width: 23em;
  padding: 5px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.heberge__card__dpt {
  padding: 5px 5px 5px 15px;
}
.heberge__card__price {
  padding: 0 0 5px 15px;
}
.heberge__card__rev {
  padding: 2px 0 0 15px;
}
.heberge__plus {
  bottom: 2em;
  left: 6%;
  position: absolute;
  font-weight: 600;
}
@media (max-width: 1024px) {
  .heberge__result {
    width: 100%;
    background-color: #fff;
  }
  .heberge__container {
    margin: 5%;
  }
  .heberge__title,
  .heberge__plus {
    left: 10%;
  }
}
@media (max-width: 991px) {
  .heberge__result {
    width: 100%;
    background-color: #fff;
  }
  .heberge__container {
    padding: 6em 0;
    flex-wrap: wrap;
  }
  .heberge__card {
    height: 20em;
    width: 24em;
    margin: 1em;
  }
  .heberge__card__pic {
    width: 23em;
  }
  .heberge__title,
  .heberge__plus {
    left: 14%;
  }
}
@media (max-width: 760px) {
  .heberge__result {
    width: 100%;
    background-color: #fff;
  }
  .heberge__container {
    padding: 6em 0;
    display: flex;
    flex-flow: wrap column;
    align-content: space-around;
    justify-content: space-around;
  }
  .heberge__card {
    height: 20em;
    width: 33.5em;
    margin: 1em 0;
  }
  .heberge__card__pic {
    width: 32.5em;
  }
  .heberge__title,
  .heberge__plus {
    left: 7%;
  }
}

/* RESULT SECTION: POPULAIRES */

.pop {
  width: 31%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 20px;
  position: relative;
}
.pop__title {
  position: absolute;
  top: 2em;
  left: 12%;
}
.pop__icon {
  background-image: url(images/Icones/chart-line-solid.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5em;
  height: 1.5em;
  width: 1.5em;
  position: absolute;
  top: 3.1em;
  right: 3.7em;
}
.pop__container {
  margin: auto;
  padding-top: 8em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
}
.pop__card {
  height: 14.5em;
  width: 34.5em;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 10px 20px 20px 20px;
  position: relative;
}
.pop__pic {
  height: 13.5em;
  width: 13.8em;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
}
.pop__card__title {
  position: absolute;
  top: 1.3em;
  left: 10.3em;
}
.pop__card__price {
  position: absolute;
  top: 4.3em;
  left: 11.8em;
}
.pop__card__rev {
  position: absolute;
  bottom: 1.2em;
  left: 16.5em;
}
@media (max-width: 1246px) {
  .pop__container {
    align-content: space-around;
    justify-content: space-evenly;
  }
  .pop__card {
    margin: 2em 0.3em;
    width: 30em;
  }
  .pop__title {
    left: 1em;
  }
  .pop__card__title {
    position: absolute;
    top: 1.3em;
    left: 9.8em;
  }
  .pop__card__price {
    position: absolute;
    top: 4.3em;
    left: 11.2em;
  }
  .pop__card__rev {
    position: absolute;
    bottom: 1.2em;
    left: 15.5em;
  }
  .pop__icon {
    top: 2.5em;
    right: 1.8em;
  }
}
@media (max-width: 1024px) {
  .pop {
    width: auto;
    display: flex;
  }
  .pop__container {
    flex-flow: row wrap;
    padding-top: 10em;
    margin: auto;
  }
}

@media (max-width: 760px) {
  .pop {
    display: flex;
    border-radius: 0;
  }
  .pop__container {
    margin-bottom: 2em;
  }
  .pop__card {
    height: 14em;
    width: 33.5em;
    margin: 1em;
  }
  .pop__pic {
    height: 13em;
    width: 12.8em;
  }
  .pop__title {
    left: 7%;
  }
  .pop__icon {
    top: 3.2em;
    right: 7%;
  }
}
/* ACTIVITY SECTION */

.act {
  position: relative;
}
.act__title {
  position: absolute;
  top: 1em;
  left: 1em;
}
.act__container {
  padding-top: 5em;
  padding-bottom: 2.5em;
  margin: auto;
}
.act__card {
  height: 19em;
  width: 33.5em;
  border-radius: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 2em auto;
}
.act__card__pic {
  height: 13.4em;
  width: 33.5em;
  object-fit: cover;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}
.act__card__title {
  font-size: 1.6em;
  font-weight: 600;
  position: absolute;
  left: 1.5em;
  bottom: 1em;
}
@media (min-width: 768px) {
  /* .act {
        margin: 0 5%;
    } */
  .act__title {
    left: 6%;
  }
  .act__container {
    margin: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }
  .act__card__1 {
    order: 1;
    height: 44.5em;
  }
  .act__card__pic1 {
    height: 39em;
  }
  .act__sous__container1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0 auto;
  }
  .act__card__2 {
    order: 2;
    height: 23.6em;
  }
  .act__card__pic2 {
    height: 18em;
  }
  .act__card__3 {
    order: 3;
    height: 16.5em;
  }
  .act__card__pic3 {
    height: 11.2em;
  }
  .act__card__4 {
    order: 4;
    height: 44.5em;
  }
  .act__card__pic4 {
    height: 39em;
  }
  .act__sous__container2 {
    order: 4;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 0 auto;
  }
  .act__card__5 {
    order: 5;
    height: 19.5em;
  }
  .act__card__pic5 {
    height: 13.9em;
  }
  .act__card__6 {
    order: 6;
    height: 20.9em;
  }
  .act__card__pic6 {
    height: 15.3em;
  }
}
@media (min-width: 992px) {
  .act {
    width: 100%;
    margin-top: 3em;
  }
  .act__container {
    margin: 0 2em;
    justify-content: space-between;
  }
  .act__title {
    left: 2.2em;
  }
  .act__card {
    width: 42em;
  }
  .act__card__pic {
    width: 42em;
  }
}
@media (min-width: 1250px) {
  .act__card {
    width: 30em;
  }
  .act__card__pic {
    width: 30em;
  }
}
/* FOOTER */

.footer {
  height: 215px;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
  display: flex;
  /* justify-content: center;  */
}
.footer__container {
  width: 100%;
  padding: 0 3%;
  display: flex;
  flex-grow: 1;
}
.footer__bloc {
  width: auto;
  min-width: 23.5em;
  flex: 1 1 33%;
  flex-wrap: wrap;
}
.footer__title {
  font-weight: 600;
  padding: 3.5em 0 1.2em 0;
}
.footer__link {
  padding-bottom: 0.8em;
}
@media (max-width: 768px) {
  .footer {
    height: auto;
    padding-bottom: 2em;
  }
  .footer__container {
    flex-wrap: wrap;
    margin-left: 1em;
  }
}
