/* GENERAL */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    padding: 0 50px;
    max-width: 1340px;
    margin: 0 auto;
}
h1, h2 {
    font-size: 1.8em;
}
p {
    font-size: 1.4em;
}
.icon {
    height: 1em;
    width: 1em;
}
.stars {
    height: 10px;
    width: auto;
}

/* HEADER */

.menu {
    height: 90px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.menu__logo {
    height: 38px;
    width: auto;
}
.menu__nav {
    margin-left: auto;
}
.menu__list {
    display: flex;
    list-style: none;
}
.menu__item {
    padding: 2.7em 1.2em;
    margin: 0 1em;
    text-decoration: none;
    outline: none;
    color: #111;
    font-size: 1.3em;
}
.menu__item--active {
    border-top-style: solid;
    border-top-color: #0065FC;
    color: #0065FC;
}
.menu__sub {
    text-decoration: none;
    outline: none;
    color: #0065FC;
    font-size: 1.3em;
    font-weight: 700;
    margin: 0 2.5em;
}

/* SEARCH SECTION */

.search {
    height: 240px;
    padding: 10px 0;
}
.search__subtitle {
    padding: 10px 0;
}

/* SEARCH SECTION: BARRE DE RECHERCHE */

.search__bar {
    height: 50px;
    max-width: 345px;
    background-color: #f2f2f2;
    margin: 10px 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.search__position {
    padding: 0 15px;
}
.search__city {
    border: none;
    height: 48px;
    width: 225px;
}
.search__city::placeholder {
    color: #111;
    font-weight: 600;
    padding: 15px 40px 15px 20px;
}
.search__btn {
    color: #fff;
    padding: 0 5px;
    background-color: #0065fc;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
    width: 115px;
}

/* SEARCH SECTION: LES FILTRES */


.search__filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px;
    padding-left: 10px;
}
.search__filter__title {
    font-weight: 600;
    padding-right: 10px;
}
.search__filter__option {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 20px;
    border-width: 1.8px;
    padding-right: 10px;
    margin: 10px;
    height: 31px;
}
.search__filter__icon {
    background-color: #DEEBFF;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 9.5px;
    margin: 3px 0 0 -6px;
}
.search__filter__text {
    padding: 0 10px;
    font-weight: 600;
    padding-left: 10px;
}

/* SEARCH SECTION: LOGEMENTS DISPONIBLES */

.search__info {
    display: flex;
    align-items: center;
}
.search__info__text {
    padding-left: 10px;
    
}
.search__icon__info {
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: #f2f2f2;
    border-radius: 50%;
    border-width: 1px;
    padding: 6.5px;
}


/* RESULT SECTION */

.heberge {
    height: 630px;
    width: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding-top: 30px;
}

/* RESULT SECTION: HEBERGEMENTS */

.heberge__result {
    height: 630px;
    width: 65%;
    /* display: flex; */
    /* justify-content: space-evenly;
    align-content: space-evenly; */
    flex-wrap: wrap;
    background-color: #f2f2f2;
    border-radius: 20px;
}
.heberge__title {
    padding: 40px 15px 30px 25px;
}
.heberge__container {
    height: 428px;
    width: 96%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
.heberge__card {
    height: 200px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.heberge__result__pic {
    height: 114px;
    width: 246px;
    padding: 5px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.heberge__result__dpt {
    font-size: 1.4em;
    padding: 5px 5px 5px 15px;
}
.heberge__result__price {
    padding: 2px 0 5px 15px;
}
.heberge__result__rev {
    padding: 2px 0 0 15px;
}
.heberge__plus {
    font-weight: 600;
    padding: 30px 15px 40px 25px;
}

/* RESULT SECTION: POPULAIRES */

.pop {
    height: 630px;
    width: 31%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-content: center;
    /* flex-flow: nowrap; */
    background-color: #f2f2f2;
    border-radius: 20px;
}
.pop__titleicon {
    width: 87%;
    display: flex;
    justify-content: space-between;
    padding: 40px 30px 20px 30px;
}
.pop__card {
    height: 145px;
    min-width: 72%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 10px 20px 20px 20px;
}
.pop__pic {
    height: 135px;
    width: 40%;
    object-fit: cover;
    padding: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.pop__card__text {

}

/* ACTIVITY SECTION */




/* FOOTER */



