/* GENERAL */

* {
    
    padding: 0;
    margin: 0;
}

body {
    width: 90%;
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
    padding: 0 50px;
}
h1, h2 {
    font-size: 1.8em;
}

/* HEADER */

.menu {
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu__clogo {
    flex-grow: 1;
}
.menu__logo {
    height: 38px;
    width: auto;
}
.menu__list {
    display: flex;
    list-style: none;
    float: right;
}
.menu__item {
    padding: 2.7em 1.2em;
    margin: 0 1em;
    text-decoration: none;
    outline: none;
    color: #111;
    font-size: 1.3em;

}
.menu__item--active {
    border-top-style: solid;
    border-top-color: #0065FC;
    color: #0065FC;
}
.menu__csub {
    justify-content: flex-end;
    margin: 0 2.5em;
    float: right;
}
.menu__sub {
    text-decoration: none;
    outline: none;
    color: #0065FC;
    font-size: 1.3em;
    font-weight: 700;
}